*{
    font-family:monospace;
    color:deepskyblue;
    font-size:large;
    background-color:black;
    border-color:dodgerblue;
}
body, .a2{
    font-family:monospace;
    color:deepskyblue;
    font-size:large;
}
input{
    border-color:black;
    
}
table{
    border-color:black;
}
a{
    color:cornflowerblue;
}
.vulling{
    margin-bottom: 7%;
}

button a{
    color:deepskyblue;
    text-decoration:none;
}

button, input{
    border-color: aqua;
}
.head{
    display:inline-flex;
    font-size:large;
    border: 2px solid dodgerblue;
    border-width: auto;
}
