body, button, input{
    background-color:black;
    color:deepskyblue;
    font-family: monospace;
}

input{
    border-color:cornflowerblue;
}

*{
    color:deepskyblue;
    font-family: monospace;
}

.rechts{
    text-align:right;
}