*{
    color:#00ADB5;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


body{
    background-color:#222831;
    font-size:large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.reken{
    border: #393E46 solid 4px;
    width: 300px;
    background-color: #575c65;
    border-radius: 5%;
}


button, .bereken{
    margin-left: -2.2px;
    margin-right: -2.2px;
    width:40px;
    height: 40px;
    border: #393E46 solid 4px;
    background-color:#222831 ;
    color:#00ADB5;
}

.anders{
    width: 100px;
    background-color: #575c65;
    border: #393E46 solid 4px;
    border-radius: 5%;

}

input{
    background-color: #222831;
    color:#00ADB5;
    border: #393E46 solid 4px;
}

#rond{
    width:72px;
    height: 40px;
    border: #393E46 solid 4px;
    background-color:#222831 ;
    color:#00ADB5;
}

button:hover, .bereken:hover{
    border: #00ADB5 solid 4px;
}

